<h3>Listings</h3>
<ul class="nav navbar-nav float-xs-right">
  <li class="nav-item">
    <button class="btn btn-primary">Post A Listing</button>
  </li>
  <li class="nav-item dropdown"  ngbDropdown #myDrop1="ngbDropdown">
    <a class="nav-link dropdown-toggle" id="dropdownMenu1" ngbDropdownToggle>Listing Status <b class="caret"></b></a>
    <div class="dropdown-menu"  aria-labelledby="dropdownMenu1">
      <button class="dropdown-item" *ngFor="let stat of status" value="{{stat.name}}">{{ stat.name }}</button>
    </div>
  </li>
  <li class="nav-item dropdown"  ngbDropdown #myDrop="ngbDropdown">
    <a class="nav-link dropdown-toggle" id="dropdownMenu" ngbDropdownToggle>Listing Types <b class="caret"></b></a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
      <button class="dropdown-item" *ngFor="let type of listingTypes" value="{{type.name}}">{{ type.name }}</button>
    </div>
  </li>
</ul>