<app-navbar></app-navbar>
<div class="container">

  <h1 class="display-4">About Us <small class="text-muted">Learn more about us.</small></h1>

  <div class="jumbotron bg-inverse text-xs-center text-white">
    <h1>Our Story</h1>
  </div>

  <div class="text-xs-center">
    <h5 class="text-primary">
      We equip customers with high quality products 
      and dependable information they can use and pass down. 
      We empower people to get outside, reconnect with their 
      hands and nature, and in doing so, embark on a life of 
      great adventur
    </h5>
  </div>
  
  <div class="row card">
    <div class="col-lg-12">
      <h2 class="page-header text-xs-center">Modern Plisting Features</h2>
    </div>
    <div class="col-md-6 text-xs-center">
      <p>The Modern Business template includes:</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
    </div>
    <div class="col-md-6">
      <img class="img-fluid text-xs-center" src="assets/metreon.jpg" alt="">
    </div>
    <div class="col-lg-12">
      <h2 class="page-header text-xs-center">Modern Plisting Features</h2>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="assets/plisting.jpg" alt="">
    </div>
    <div class="col-md-6 text-xs-center">
      <p>The Modern Business template includes:</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>