<h1 class="display-4">My Listings <small class="text-muted">view all your listings here.</small></h1>
<div class="card listings-card row">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top img-fluid" src="assets/splash.gif" alt="" />
      <div class="card-block">
        <h4 class="card-title">
          Product title</h4>
        <div class="row">
          <div class="col-xs-12">
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam possimus libero ab, voluptas placeat consequuntur.
            </p>
            <a href="#" class="btn btn-outline-primary">View Listing</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card clearfix">
      <img class="card-img-top img-fluid" src="assets/splash.gif" alt="" />
      <div class="card-block">
        <h4 class="card-title">
          Product title</h4>
        <div class="row">
          <div class="col-xs-12">
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam possimus libero ab, voluptas placeat consequuntur.
            </p>
            <a href="#" class="btn btn-outline-primary">View Listing</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card clearfix">
      <img class="card-img-top img-fluid" src="http://placehold.it/370x208?text=..." alt="" />
      <div class="card-block">
        <h4 class="card-title">Product title</h4>
        <div class="row">
          <div class="col-xs-12">
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam possimus libero ab, voluptas placeat consequuntur.
            </p>
            <a href="#" class="btn btn-outline-primary">View Listing</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>