<footer class="navbar bg-inverse navbar-full navbar-dark">
  <div class="container">
    <div class="row  text-white">
      <div class="col-md-4">

        <h4>Email Client Registrstion</h4>
        <p>Sign up to be informed on any new Plisting services, news, offers and property advice</p>
        <form action="" class="form-inline">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
          </div>
          <a href="" class="btn btn-outline-primary">Subscribe</a>
        </form>
        
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="http://placehold.it/400x150/007089/FFF" alt="">
        <h4>Plisting Social Media</h4>
        <a class="text-info" href="">Twitter</a>
        <a class="text-primary" href="">Facebook</a>
        <a class="text-warning" href="">Instagram</a>
      </div>
      <div class="col-md-2">
        <h4>General Inquiries</h4>
        <p>Telephone: 0708 443 396</p>
        <p>Email: contact@metreon.com</p>
      </div>
      <div class="col-md-2">
        <h4>Customer Service</h4>
        <p>Telephone: 0708 44 33 96</p>
        <p>Email: info@metreon.com</p>
      </div>
    </div>
  </div>
</footer>