<div class="card">
  <button class="btn btn-info">  <i class="fa fa-pencil" aria-hidden="true"></i> Edit Profile</button>
  <button class="btn btn-info" [routerLink]="['/listings']">Go to listings</button>
   <button class="btn btn-info" [routerLink]="['/post-listing']">post a listing</button>

  <ul class="list-group">
    <li class="list-group-item">Questions?</li>
    <li class="list-group-item"><a href="#" [routerLink]="['/about']">Visit the Plisting help center.</a></li>
    <li class="list-group-item"><a href="#" [routerLink]="['/contact-us']">Submit a query.</a></li>
  </ul>
</div>