<div class="card-deck-wrapper">
<div class="card-deck">
  <div class="card card-outline-primary" >
    <img class="card-img-top" src="http://placehold.it/700x450/0275d8/FFF" alt="" />
    <div class=" card-block bg-faded">
      <h4 class="card-title">
        Product title</h4>
      <div class="row">
        <div class="col-xs-12">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam possimus libero ab, voluptas placeat consequuntur.
          </p>
          <a href="#" class="btn btn-outline-primary">View Listing</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-outline-primary">
    <img class="card-img-top" src="http://placehold.it/700x450/5bc0de/FFF" alt="" />
    <div class=" card-block bg-faded">
      <h4 class="card-title">
        Product title</h4>
      <div class="row">
        <div class="col-xs-12">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam possimus libero ab, voluptas placeat consequuntur.
          </p>
          <a href="#" class="btn btn-outline-primary">View Listing</a>
        </div>
      </div>
    </div>
  </div>


  <div class="card card-outline-primary">
    <img class="card-img-top" src="http://placehold.it/700x450/0275d8/FFF" alt="" />
    <div class=" card-block bg-faded">
      <h4 class="card-title">Product title</h4>
      <div class="row">
        <div class="col-xs-12">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam possimus libero ab, voluptas placeat consequuntur.
          </p>
          <a href="#" class="btn btn-outline-primary">View Listing</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


